.feedul {
    list-style-type: none;
  }
  .feedli {
    padding-top: 3em;
  }

  .cont{
    background: url('https://i.pinimg.com/originals/50/a7/8b/50a78b21b11300c8e71ec378ebdbaabf.jpg') no-repeat;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
   
    
    background-size: cover;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: left top;
    height: 1000px;
  }