


.container{
    background: url('https://i.pinimg.com/originals/50/a7/8b/50a78b21b11300c8e71ec378ebdbaabf.jpg') no-repeat;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
   
    
    background-size: cover;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: left top;
    height: 1000px;
}

.card{
    padding-top: 40px;
   


}



.box{
    width: 50%;
    height: 320px;
    background: rgba(0, 0, 0, 0.4);
    padding: 22px;
    text-align: center;
    margin: auto;
   
    
    
   
    color: black;
    
  }



.img{
    border-radius: 50%;
    width: 120px;
    height: 107px;
  }
  
  
  .NameHead{
    font-size: 43px;
    letter-spacing: 2.5px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Andale Mono, monospace;
    text-align: center;

    
    
  }
  
  .box p{
    line-height: 1.6;
    padding-right: 23px;
    padding-left: 23px;
    text-align: center;
     font-size: 22px;
     font-weight: bold;
   
    font-family: Andale Mono, monospace;
    
  }

  .date{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    
    margin-bottom: 24px;
    font-family: Andale Mono, monospace;

  }

  .author1{
      text-align: center;
      margin-bottom: 35px;
      font-size: 20px;
      font-weight: bold;
      font-family: Andale Mono, monospace;
  }

  .back{
    position: absolute;
    top: 32%;
    left: 10%;
    width: 90px;
    height: 90px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding: 10px;

}

.edit{
    position: absolute;
    top: 32%;
    left: 84%;
    width: 90px;
    height: 90px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding: 10px;

}


.back:hover, .edit:hover{
    filter: invert(40%);
  transition: 0.8s;
}


.comment_form{
  width: 60%
}