

.container{
    width: 93%;
    height: 200px;
    background: rgba(0, 0, 0, 0.75);
    padding: 14px;
    text-align: center;
    margin: auto;
   
    color:white;
    //border-top-right-radius: 30%;
    border-bottom-right-radius: 35%;
    border-top-left-radius: 20%;
    border-top-right-radius: 10%;
    
  }


  .container:hover{
    transition: 0.5s;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 10%;
    
  }

  .title{
    line-height: 1.6;
    padding-right: 23px;
    padding-left: 23px;
    text-align: center;
     font-size: 22px;
     font-weight: bold;
   
    font-family: Andale Mono, monospace;
    margin-bottom: 10px;
    
  }


  .container p{
    line-height: 1.7;
    padding-right: 23px;
    padding-left: 23px;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
 
   
    font-family: Andale Mono, monospace;
    
  }




.img{
    width: 110px;
    height: 107px;
    float: left;
    margin-left: 25px;
    margin-right: 50px;
  }

