

.container{
    width: 88%;
    height: 200px;
    background: rgba(0, 0, 0, 0.30);
    padding: 14px;
    text-align: center;
    margin: auto;
   
    color:black;
    //border-top-right-radius: 30%;
    border-bottom-right-radius: 45%;
    border-top-left-radius: 20%;
    border-top-right-radius: 15%;
    margin-bottom: 16px;
    
  }



.edit:hover{
    filter: invert(40%);
  transition: 0.8s;
}


  .container:hover{
    transition: 0.5s;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 10%;
    background: rgba(0, 0, 0, 0.54);
    
  }

  .title{
    line-height: 1.6;
    padding-right: 23px;
    padding-left: 23px;
    text-align: center;
     font-size: 28px;
     font-weight: bold;
   
    font-family: Andale Mono, monospace;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    
  }


  .container p{
    line-height: 1.7;
    padding-right: 23px;
    padding-left: 23px;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    
 
   
    font-family: Andale Mono, monospace;
    
  }




.img{
    width: 140px;
    height: 107px;
    float: left;
    margin-left: 25px;
    margin-right: 76px;
    padding-right: 28px;
    border-right: 2px solid black;

  }

