
.feedul {
  list-style-type: none;
}
.feedli {
  padding-top: 3em;
}
// .searchbar {
//   width: 300px;
// }
.gridsearch {
  // margin-top: 10000px;
}
.gobtn {
  height: 50px
}
// .navbar {
//   color: blue;
// }
