.search{
    text-align: center;
    padding: 5px;
    // font-family: "Courier New", Courier, monospace;
    font-size: 1.5em;
  }
  
  .searchform{
    font-size: 1.8em;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .ui {
    text-align: right;
    // font-size: 2em;
  }
