.search{
    text-align: center;
    padding: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 2em;
  }
  
  .searchform{
    font-size: 2em;
    margin: auto;
  }
  
  .ui {
    text-align: right;
    // font-size: 2em;
  }
  /* .Container{
    text-align: center;
    background-color: LightSteelBlue;
  }
  
  .TempContain{
    text-align: center;
    background-color: LightSteelBlue;
  } */
  
  .ContainSearch{
    /* background-color: Peachpuff; */
  }
  