.title{
    margin-top: 28px;
    margin-left: 25px;
    float: left;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 2.8em;
    font-weight: bold;

}


.loginpage {
    /* display: inline */
    // background-color: blue;

}
.login {
    text-align: center;
  
}

.signup {
    text-align: center;
    margin-right: 5%;
    margin-top: 10px;
    
}
.bar {
    background-color: white;
    margin-right: 30px;
}

.image {
    // display: inline;
    height: 110%;
    width: 100%;
    
    // background-color: blue;
    /* text-align: center */
    /* float: right; */
}

.image1{
    height: 6%;
    width: 6%;
    margin-left: 10px;
    margin-top: 3px;
    
}
.image2{
    margin-top: 60px;
    
    height: 20em;
    width: 30em;

}

.image3{
    margin-top: 46px;
    
    height: 23em;
    width: 28em;
    margin-right: 7px;

}

.block{
    display: flex;
    justify-content: space-between;
}

.image_button_container{
    position: relative;
    width: 100%;
}

.signup_here{
    position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
//   padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 2em;
//   border-radius: 5px;
}


.explain{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
  top: 18.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  
  cursor: pointer;
}