.innerContain {
    display: flex;
    float: right;
    padding-bottom: 8px;
   
}
.user {
    margin-right: 10px;
}
.password {
    margin-right: 10px;
}

// .submit_container{
//     text-align: center;
// }
